#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
CONFFLAGS = --without-gtec --with-act2=check --with-xdf=check --with-tia --with-gtec=check --with-eego=check

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	export DEB_CFLAGS_MAINT_APPEND=-O3 -Wall -Wextra
else
	export DEB_CFLAGS_MAINT_APPEND=-Wall -Wextra
endif
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-Bsymbolic-functions
export DEB_BUILD_MAINT_OPTIONS=hardening=-all,+format,+relro

%:
	dh  $@

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

#override_dh_compress:
#	dh_compress --exclude=examples

#override_dh_installdocs:
#	dh_installdocs --link-doc=libeegdev0
